.main {
  padding-bottom: 4rem /* 64px */;
  margin-top: 6rem /* 96px */;
}

.sectionWrapper {
  padding-top: 1.5rem /* 24px */;
  margin-bottom: 1.5rem /* 24px */;
  background-color: var(--black50);
}

.sectionWrapper section {
  min-height: 100vh;
}